---
layout: default
title: 404 - Page not found
permalink: /404.html
---

<div class="text-center">
  <h1>Whoops, this page doesn't exist.</h1>
  <h1>(404 error)</h1>
	<br/>

	<img src="{{ site.baseurl }}/images/ghostbusters.gif" />

	<h1>Try one of these links instead:</h1>

{% assign categories =  site.posts | map: 'categories' | join: ','  | split: ',' | uniq %}
{% for category in categories %}
  <h3>{{ category | capitalize }}</h3>
  <ul>
  {% for post in site.posts %}
    {% if post.categories contains category %}
    <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

</div>

