---
layout: default
title: home
---
<div class="container">
<div class="row">

</div></div>

<div class="container">
<div class="row">
<div class="col-md-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{{ site.url }}/archive">Posts</a></h3>
  </div></div></div>
    {% for post in site.categories.posts limit:4 %}
    <div class="col-md-4">   
    <div class="post-teaser">
      <a href="{{ post.url }}">
	<img src="/images/{{ post.image.teaser }}" class="post-teaser-image" alt="{{ page.title }}" itemprop="image">
      </a>
    <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h3></a>
      <a href="{{ post.url }}" class="small-link primary-link" target="_blank"> {{ post.description }} <i class="fa fa-external-link"></i></a>
      <a href="{{ post.url }}" class="small-link">Read on...</a>
    </div></div>
  {% endfor %}

<div class="row">
<div class="col-md-4">
<div class="col-md-12">
<div class="list-group">
  <a href="{{ site.url }}/archive" class="list-group-item list-group-item-info">
    Recent Posts
  </a>
{% for post in site.categories.posts limit:10 %}
   <a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
  {% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>

<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{{ site.url }}/projects">Projects</a></h3>
  </div></div></div>

    {% for project in site.categories.projects %}
    <div class="project">
      <a href="{{ project.url }}">
	<img src="/images/{{ project.image.teaser }}"  class="img-responsive" alt="{{ page.title }}" itemprop="image">
      </a>
    <h3 class="project-title">
      <a href="{{ project.url }}">
        {{ project.title }}
      </a>
    </h3></a>
  {% endfor %}
</div>
</div></div></div>


<div class="container">
<div class="row">
<div class="col-sm-12">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="{{ site.url }}/interactives">Interactives</a></h3>
  </div></div></div>
    {% for interactive in site.categories.interactives %}
    <div class="interactive">
      <a href="{{ interactive.url }}">
	<img src="/images/{{ interactive.image.teaser }}"  class="img-responsive" alt="{{ page.title }}" itemprop="image">
      </a>
    <h3 class="interactive-title">
      <a href="{{ interactive.url }}">
        {{ interactive.title }}
      </a>
    </h3></a>
  {% endfor %}


</div>
</div>
