/* --- Section where I jack everything up for margins --- */

@media only screen and (min-width: 1200px) {

  p {
    margin-left: 15%;
    margin-right: 15%;
  }

  ul li ul {
    margin-left: 0%;
    margin-right: 0%;
  }

  ul {
    margin-left: 15%;
    margin-right: 15%;
  }

  ol {
    margin-left: 15%;
    margin-right: 15%;
  }
  footer li {
    margin-left: 0%;
    margin-right: 0%;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-left: 15%;
    margin-right: 15%;
  }

  blockquote {
    margin-left: 15%;
    margin-right: 15%;
  }

  blockquote p {
    padding: 0;
    margin: 0%;
  }

  .figure {
     text-align: center;
  }

  .post-subtitle {
    margin-left: 15%;
    margin-right: 15%;
  }
  .post-meta, .post-heading .post-meta {
    margin-left: 15%;
    margin-right: 15%;
  }

  .pager {
    margin-left: 15%;
    margin-right: 15%;
  }

  #twitter-widget-0 {
    margin: auto;
  }

}

/* stays out of the margin code since these need to be responsive*/
.table-responsive {
  max-width: 100%;

}

img {
  max-width: 100%;
}

figure {
     text-align: center;
}
