<div class="bs-docs-social">
  <ul class="bs-docs-social-buttons">
    <ul>      
	<iframe src="https://ghbtns.com/github-btn.html?user=mdlee12&repo=mdlee12.github.com&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </ul>
    <ul class="follow-btn">
      <a href="https://twitter.com/mlee_mke" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mlee_mke</a>
    </ul>
    <ul class="tweet-btn">
	<a href="https://twitter.com/share" class="twitter-share-button" data-via="mlee_mke" data-size="small" data-dnt="true">Tweet</a>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </ul>
    <ul class="pocket-btn">
	<a data-pocket-label="pocket" data-pocket-count="horizontal" class="pocket-btn" data-lang="en"></a>
	<script type="text/javascript">!function(d,i){if(!d.getElementById(i)){var j=d.createElement("script");j.id=i;j.src="https://widgets.getpocket.com/v1/j/btn.js?v=1";var w=d.getElementById(i);d.body.appendChild(j);}}(document,"pocket-btn-js");</script>
    </ul>
    <ul class="reddit-btn">
	<a href="//www.reddit.com/submit" onclick="window.location = '//www.reddit.com/submit?url=' + encodeURIComponent(window.location); return false"> <img src="//www.redditstatic.com/spreddit11.gif" alt="submit to reddit" border="0" height="20px"/> </a>
    </ul>
  </ul>
</div>

