<div class="row">
	<h1><strong><p class="text-center">Share</p></strong></h1>
		<p class="text-center">

<a class="js-social-share" onclick="ga('send', 'event', 'link', 'click', 'twitter-share');" href="https://twitter.com/intent/tweet?text={{ page.title }}&amp;url=https%3A%2F%2Fmiddlee.com{{ page.url }}&amp;via=mlee_mke" class="js-social-twitter-share" title="Share on Twitter" target="_blank"><preserveAspectRatio="xMidYMid meet"><i class="fa fa-twitter fa-2x"></i></a>

<a class="js-social-share" onclick="ga('send', 'event', 'link', 'click', 'facebook-share');" href="https://www.facebook.com/sharer/sharer.php?u=http://middlee.com{{ page.url }}"><i class="fa fa-facebook fa-2x"></i></a>

<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fmiddlee.com{{ page.url }}" data-share-url="{{ page.url }}" class="js-social-facebook-share" title="Share on Facebook" target="_blank"><preserveAspectRatio="xMidYMid meet"><i class="fa fa-facebook fa-2x"></i></a>

<a class="js-social-share" onclick="ga('send', 'event', 'link', 'click', 'google-share');" href="https://plus.google.com/share?url=http%3A%2F%2Fmiddlee.com{{ page.url }}"><i class="fa fa-google-plus fa-2x"></i>

<a class="js-social-share" onclick="ga('send', 'event', 'link', 'click', 'reddit-share');" href="http://www.reddit.com/submit/?url=http%3A%2F%2Fmiddlee.com{{ page.url }}"><i class="fa fa-reddit fa-2x"></i>

<a class="js-social-share" onclick="ga('send', 'event', 'link', 'click', 'linkedin-share');" href="https://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Fmiddlee.com{{ page.url }}"><i class="fa fa-linkedin fa-2x"></i></h3>
		</p>
		</div>
		</div>
<script>
function windowPopup(url, width, height) {
// Calculate the position of the popup so
// it’s centered on the screen.
var left = (screen.width / 2) - (width / 2),
top = (screen.height / 2) - (height / 2);
window.open(url,"","menubar=yes,toolbar=yes,resizable=yes,scrollbars=yes,width=" + width + ",height=" + height +",top=" + top + ",left=" + left);
}

// Vanilla JavaScript
var jsSocialShares = document.querySelectorAll(".js-social-share");
if (jsSocialShares) {
  [].forEach.call(jsSocialShares, function(anchor) {
    anchor.addEventListener("click", function(e) {
      e.preventDefault();

      windowPopup(this.href, 500, 300);
    });
  });
}
</script>
</div><!-- /.share-this -->

