/* --- Section where I jack everything up for margins --- */

@media only screen and (min-width: 1200px) {

/*  p {
    margin-left: 15%;
    margin-right: 15%;
  }

  p.caption {
    font-style: italic;
    margin-bottom: 20px;
    margin-top: -10px;
  }

  ul li ul {
    margin-left: 0%;
    margin-right: 0%;
  }

  ul li {
    margin-left: 15%;
    margin-right: 15%;
  }

  ul {
    margin-left: 15%;
    margin-right: 15%;
  }

  ol {
    margin-left: 15%;
    margin-right: 15%;
  }
  footer li {
    margin-left: 0%;
    margin-right: 0%;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-left: 15%;
    margin-right: 15%;
  }

  blockquote {
    margin-left: 15%;
    margin-right: 15%;
  }

  blockquote p {
    padding: 0;
    margin: 0%;
  }

  details {
    margin-left: 15%;
    margin-right: 15%;
  }*/

  .figure {
     text-align: center;
  }
/*
  .post-subtitle {
    margin-left: 15%;
    margin-right: 15%;
  }
  .post-meta, .post-heading .post-meta {
    margin-left: 15%;
    margin-right: 15%;
  }

  .pager {
    margin-left: 15%;
    margin-right: 15%;
  }
*/
  #twitter-widget-0 {
    margin: auto;
  }

}

/* stays out of the margin code since these need to be responsive*/
.table-responsive {
  max-width: 100%;

}

img {
  max-width: 100%;
}

/*figure {
    margin-left: 15%;
    margin-right: 15%;
  }
*/

summary {
  display: list-item;
  list-style-type: none;
  color: #4a4a4a;
  cursor: pointer;
  background: #f5f5f5; 
  border: 2px solid #4a4a4a;
  border-style: double;
  border-width: 3px;
  border-radius: 2px;
}

summary:after {
  background: #f5f5f5; 
  content: "+"; 
  color: #4a4a4a; 
  float: right; 
  font-size: 1em; 
  margin: 0px 0px 0 0; 
  padding: 0; 
  text-align: center; 
  width: 20px;
}

.containerYouTube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}