:root {
	--font-serif: Bitter, Georgia, serif;
	--font-sans: Open Sans, halyard-display, -apple-system, sans-serif;
	--font-mono: input-mono, PT Mono, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	font-family: var(--font-serif);

	--nav-height: 60px;
	--footer-height: 650px;
	--section-margin-bottom: 5rem;

	/* LIGHT MODE */
	--pure-background-color: #f1f1f1;
	--primary-color: #edf0f8;
	--primary-color-rgb: 237, 240, 248;
	--accent-color: #264C00;
	--accent-color-rgb: 44, 67, 110;
	--heading-color: rgba(51, 51, 51, 0.7);
	--text-color: #1c1c1c;
	--text-color-rgb: 28, 28, 28;
	--off-text-color: #264C00;
	--pure-text-color: #333333;
	--background-without-opacity: rgba(241, 241, 241, 0.7);
	--box-shadow-color: rgba(51, 51, 51, 0.1);
	--works-on-accent-bg: var(--pure-background-color);
	--semitransparent-bg: rgba(241, 241, 241, 0.5);
	--footer-bg: rgba(220, 220, 220, .8);
	--noise-opacity: .35
		/* DARK MODE */
		--pure-background-color: #333333;
	--primary-color: rgb(22, 25, 26);
	--primary-color-rgb: 22, 25, 26;
	--accent-color: rgb(153, 234, 72);
	--accent-color-rgb: 153, 234, 72;
	--heading-color: rgba(241, 241, 241, 0.7);
	--text-color: #f1f1f1;
	--text-color-rgb: 241, 241, 241;
	--off-text-color: #80FF00;
	--pure-text-color: #f1f1f1;
	--background-without-opacity: rgba(51, 51, 51, 0.7);
	--box-shadow-color: rgba(51, 51, 51, 0.1);
	--works-on-accent-bg: var(--pure-background-color);
	--semitransparent-bg: rgba(241, 241, 241, 0.08);
	--footer-bg: var(--semitransparent-bg);
	--noise-opacity: .15;
}

* {
	box-sizing: border-box;
}

html {
	overflow-y: scroll;
	scroll-behavior: smooth;
	touch-action: manipulation;
	scroll-padding-top: var(--nav-height);
	background: var(--primary-color);
}

body {
	min-height: 100vh;
	width: 100%;
	margin: 0;
	background-color: var(--primary-color);
	background: linear-gradient(to bottom,
			rgba(var(--primary-color-rgb), 1) 50%,
			rgb(var(--accent-color-rgb), 1) 200%);
	overscroll-behavior-y: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::selection {
	background: var(--pure-text-color);
	color: var(--primary-color);
}

@supports (text-shadow: 0px 0px 2px var(--accent-color)) {
	::selection {
		background: none;
		color: var(--pure-background-color);
		text-shadow: 0px 0px 2px var(--accent-color);
	}
}

#svelte {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
}

#home {
	min-height: 100vh;
}

.visible {
	opacity: 1 !important;
}

h1,
h2 {
	font-weight: 400;
	color: var(--text-color);
}

h3,
h4 {
	font-weight: 300;
	color: var(--text-color);
}

p,
li {
	color: var(--pure-text-color);
	font-family: var(--font-sans);
	font-size: 1.275rem;
	line-height: 1.35;
	/* letter-spacing: -.01rem; */
	font-weight: 300;
}

li {
	margin-left: 1rem;
	list-style-position: outside;
	font-weight: 300;
	line-height: 1.5;
	/* margin-bottom: 0.5rem; */
}

strong {
	font-weight: 600;
	font-weight: 500;
	color: var(--pure-text-color);
}

em {
	font-style: italic;
}

a {
	color: var(--accent-color);
	text-decoration: none;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.85rem;
}

h3 {
	font-size: 1.65rem;
}

h4 {
	font-size: 1.5rem;
}

h5,
h6 {
	font-size: 1.35rem;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-color: var(--accent-color);
	background-color: var(--accent-color);
	border-top: 1px solid var(--accent-color);
	margin: 1em 0;
	padding: 0;
}

iframe {
	width: 100%;
	left: 0;
	box-shadow: 1px 1px 6px 1px var(--box-shadow-color);
	margin: 1rem 0 2rem 0 !important;
	z-index: 3;
	position: relative;
}

figcaption {
	color: var(--pure-text-color);
}

/* This breakpoint is intentionally higher than the regular mobile breakpoint */
/* UNCOMMENT TO ALLOW IFRAMES TO BE FULLBLEED */
/* @media screen and (min-width: 1100px) {
  iframe {
    position: relative;
    left: calc(-35vw + 50%);
    width: 70vw;
  }
} */

/* On blog posts, we make code chunks and iframes larger than content width */
/* We do this instead so that iframes are not centered but instead right justified */
@media screen and (min-width: 1100px) {
	iframe {
		width: 75vw;
		max-width: 1100px;
	}

	pre {
		width: max-content;
		min-width: 100%;
		max-width: 75vw;
	}
}

pre {
	font-size: 0.9rem !important;
	margin-bottom: 1rem !important;
	border-radius: 3px;
}

code:not(pre > code) {
	font-family: var(--font-mono);
	background: var(--primary-color);
	background: rgba(var(--accent-color-rgb), 0.1);
	color: var(--accent-color);
	padding: 3px 5px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	font-size: 0.825em;
	font-weight: 600;
	box-decoration-break: clone;
}



.uppercase {
	text-transform: uppercase;
}

.centered {
	text-align: center;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;

}

button {
	background-color: var(--semitransparent-bg);
	font-family: var(--font-sans);
	border: 2px solid var(--accent-color);
	color: var(--pure-text-color);
	border-radius: .3rem;
	padding: 0.3rem;
	margin: 0.3rem;
	position: relative;
	cursor: pointer;
	z-index: 1;
}

input {
	border: 2px solid var(--accent-color);
	background-color: var(--pure-background-color);
	color: var(--pure-text-color);
	padding: 0.3rem;
	border-radius: .3rem;
}

.button:focus {
	background-color: var(--pure-background-color);
}

.button:active {
	background-color: var(--accent-color);
}

.button:before {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	background-image: linear-gradient(135deg,
			var(--semitransparent-bg) 10%,
			/* var(--pure-background-color) 30%, */
			rgba(var(--accent-color-rgb), 0.4) 150%);
	z-index: -1;
	opacity: 0;
	transition: opacity 250ms linear;
	-webkit-transition: opacity 250ms linear;
	-moz-transition: opacity 250ms linear;
	-ms-transition: opacity 250ms linear;
	-o-transition: opacity 250ms linear;
}

.button:hover::before {
	opacity: 1;
}

.page-overline {
	font-family: var(--font-sans);
	font-size: 0.88rem;
	text-transform: uppercase;
	letter-spacing: 0.64px;
	font-weight: 300;
	margin-top: 1.25rem;
	margin-bottom: -1.5rem;
}

.section-title {
	font-size: 3.5rem;
	font-weight: 200;
	margin: 2rem 0;
	padding-bottom: 1rem;
	font-family: var(--font-serif);
	border-bottom: 1px solid rgba(var(--accent-color-rgb), .5);
	color: var(--accent-color);
	text-transform: uppercase;
	text-align: left;
}


.page-title {
	font-size: 5rem;
	font-weight: 300;
	margin: 2rem 0;
	padding-bottom: 1rem;
	font-family: var(--font-serif);
	border-bottom: 1px solid rgba(var(--accent-color-rgb), .5);
	color: var(--accent-color);
	text-transform: uppercase;
	text-align: center;
}




/* We set opacity of transitioning elements to 0 to prevent brief paint before opacity transitions 
But for users who prefer reduced motion, we don't want to apply this 
(they would never become visible because transitions never trigger) */
@media (prefers-reduced-motion: no-preference) {

	.transition-title,
	.transition-subtitle,
	.transition-content,
	.begin-invisible:not(.transitioned) {
		opacity: 0;
	}
}

.overflow-hidden {
	overflow: hidden;
}

.gradient-accented {
	color: var(--accent-color);
}


.accented {
	color: var(--accent-color);
}

.bolded {
	font-weight: 500;
}

.padding-bottom {
	padding-bottom: 0.2rem;
}

.border-top {
	border-top: 1px solid var(--accent-color);
	border-top: 0.5px solid var(--accent-color);
	padding-top: 1.5rem;
}

.border-bottom {
	border-bottom: 1px solid var(--accent-color);
	border-bottom: 0.5px solid var(--accent-color);
	padding-bottom: 1.5rem;
}

.no-border {
	border: none;
}

.block {
	display: block;
}

a:not(.no-underline) {
	position: relative;
	color: var(--accent-color);
	background: linear-gradient(var(--accent-color), var(--accent-color)) left bottom no-repeat;
	background-size: 0% 1px;
	font-weight: 500;
	transition: background-size 0.25s ease-out;
	-webkit-transition: background-size 0.25s ease-out;
	-moz-transition: background-size 0.25s ease-out;
	-ms-transition: background-size 0.25s ease-out;
	-o-transition: background-size 0.25s ease-out;
}

a:not(.no-underline):hover {
	background-size: 100% 1px;
}

blockquote {
	color: var(--text-color);
	border-left: 10px solid var(--accent-color);
	padding: 1rem;
	margin: 1.5rem;
	line-height: 2;
	background: var(--semitransparent-bg);
	border-radius: 3px;
	font-family: var(--font-serif);
}

summary::marker {
	content: ' + ';
	font-family: var(--font-mono);
	font-size: 1.1rem;
}

details {
	font-family: var(--font-mono);
	color: var(--text-color);
	border-left: 10px solid var(--accent-color);
	margin-left: 0.5rem;
	line-height: 2;
	background: var(--semitransparent-bg);
	box-shadow: 1px 1px 6px var(--box-shadow-color);
	border-radius: 3px;
	cursor: pointer;
}

*/ summary {
	font-family: var(--font-mono);
	font-size: 1.1rem;
}

blockquote p:last-of-type {
	margin-bottom: 0 !important;
}

img,
pre,
iframe {
	width: 100%;
}

table {
	width: 100%;
	display: block;
	overflow-x: auto;
	white-space: nowrap;

}

.twitter-tweet {
	margin: 10px auto;
}

.see-all-flex {
	display: flex;
	justify-content: space-between;
}

/* ALL INDEX.SVELTE PAGES HAVE THIS FOR THEIR MAIN TAG */
.main {
	max-width: 1100px;
	width: 95%;
	margin: 0 auto 4rem;
	padding-top: var(--nav-height);
}

/* FORMATTING FOR CONTENT PAGES (BLOG POSTS, PROJECT PAGES, AWARD PAGES */
.top-level {
	/* max-width: 1068px; */
	margin: 0 auto 5vh;
	padding-top: var(--nav-height);
	text-align: center;
	display: flex;
	flex-direction: column;
	width: 90%;
}

.main-content {
	max-width: 768px;
	margin: 0 auto;
	width: 90%;
	margin-bottom: 4rem;
}

.main-content :not(h1, h2, h3)::selection {
	color: var(--pure-background-color);
	background: var(--pure-text-color);
	text-shadow: none;
}

.page-subtitle {
	font-size: 2rem;
	font-family: var(--font-sans);
	line-height: 1;
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: var(--pure-background-color);

}

.page-description {
	font-size: 1rem;
	font-family: var(--font-sans);
	line-height: 1;
	text-align: left;
	padding: 1rem;
	margin-bottom: 1rem;
	background-color: var(--pure-background-color);

}

/* MOBILE BREAKPOINT */
@media screen and (max-width: 460px) {

	.page-title {
		font-size: 3rem;
	}

	.page-title {
		font-size: 2.25rem;
	}

	.page-subtitle {

		font-size: 2rem;
		font-family: var(--font-sans);
		line-height: 1;
		text-align: center;
		padding-top: 1rem;
		padding-bottom: 1rem;
		background-color: var(--pure-background-color);
	}

}

@media screen and (max-width: 360px) {}