{{ define "title" -}} {{ .Title }} | {{ .Site.Title }} {{- end }} {{ define
"header" }} {{ partial "menu" . }} {{ end }} {{ define "main" }}

<div class="columns is-fullheight">
  <div class="column">
    <section class="hero is-default is-bold">
      <div class="hero-body">
        <div class="content container">
          {{ if eq .Type "posts" }} {{ partial "post.html" . }} {{ else if eq
          .Type "interactives" }} {{ partial "interactives.html" . }} {{ else if
          eq .Type "projects" }} {{ partial "projects.html" . }} {{ else if eq
          .Type "animation" }} {{ partial "animation.html" . }} {{ else }} NO
          MATCHING PARTIAL {{.Content}} {{ end }}
        </div>
        <br />
      </div>
    </section>
  </div>
</div>

{{ end }} {{ define "footer" }} {{ partial "footer" . }} {{ end }}
