
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Open Sans, sans-serif;
}

#container {
	width: 1600px;
	margin: 25px auto 25px auto;
	padding: 50px 50px 50px 50px;
	background-color: white;
}

h1 {
	margin-bottom: 15px;
	font-size: 24px;
	font-weight: bold;
}

h2 {
	margin-left: 0px;
	font-size: 14px;
}

p {
	margin-bottom: 25px;
	font-size: 14px;
	line-height: 18px;
}

#graphic {
	font-size: 12px;
}

g.label {
	font-size: 10px;
	fill: grey;
}

button {
	padding: 15px;
}


#footer p {
	font-family: Open Sans, sans-serif;
	margin-top: 10px;
	margin-bottom: 0;
	font-size: 10px;
	line-height: 14px;
	color: gray;
}

#footer p a {
	color: gray;
}

/* Chart styles */

svg {
	display: block;
	margin-bottom: 10px;
	background-color: white;
}

rect.cell:hover {
	stroke: orange;
}

#tooltip {
	position: absolute;
	width: 105px;
	height: 40px;
	padding: 10px;
	background-color: rgba(255, 255, 255, .95);
	box-shadow: 4px 4px 4px rgba(0.1, 0.1, 0.1, 1);
	pointer-events: none;
}

#tooltip.hidden {
	display: none;
}

#tooltip p {
	margin: 0;
	font-family: Open Sans, sans-serif;
	font-size: 16px;
	line-height: 20px;
}
.axis path {
stroke: none;
}
.axis text {
	font-family: Open Sans, sans-serif;
	font-size: 14px;
	fill: gray;
}