    <h2 class="post-title">{{ .Title }}</h2>

    {{ if .Params.subtitle }}
      <h3 class="post-subtitle">
        {{ .Params.subtitle }}
      </h3>
    {{ end }}
      
    {{ if .Params.date }}
      <p class="post-meta">
        Posted on {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFormat) }}
      </p>
    {{ end }}
      
  {{ if .Params.tags }}
    <span class="post-meta">
      {{ range .Params.tags }}
        <span class="post-tags"><a href="/tags/{{ . | urlize }}">#{{ . }}</a></span>&nbsp;
      {{ end }}
    </span>
  {{ end }}