<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<nav class="nav has-shadow">
<div class="nav-left">
    <a class="nav-item" href="{{.Site.BaseURL | relURL}}">
        <img src="/img/avatar-icon.png" alt="Michael Lee">
    </a>
</div>

<div class="nav-center">

    <a class="nav-item" target="blank" href="https://github.com/mikeleeco">
        <span class="icon">
            <i class="fab fa-github"></i>
          </span>
    </a>

    <a class="nav-item" target="blank" href="https://twitter.com/mikeleeco">
        <span class="icon">
            <i class="fab fa-twitter"></i>
          </span>
    </a>
</div>

<!-- This "nav-toggle" hamburger menu is only visible on mobile -->
<!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
<span class="nav-toggle">
<span></span>
<span></span>
<span></span>
</span>

<!-- This "nav-menu" is hidden on mobile -->
<!-- Add the modifier "is-active" to display it on mobile -->
<div class="nav-right nav-menu" itemscope itemtype="http://schema.org/SiteNavigationElement">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <a itemprop="url" class="nav-item is-tab {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{end}}" href="{{.URL}}"><span itemprop="name">{{ .Name }}</span></a>
        {{ end }}
</div>
</nav>