{{ define "title" -}} {{ .Title }} | {{ .Site.Title }} {{- end }} {{ define
"header" }} {{ partial "menu" . }} {{ end }} {{ define "main" }}

<div class="columns is-fullheight">
  <div class="column">
    <section class="hero is-default is-bold">
      <div class="hero-body">
        <div class="content container">
          <h1>Whoops, this page doesn't exist.</h1>
          <img src="{{ .Site.BaseURL }}/img/ghostbusters.gif" />
          <br />
          <h2><a href="{{ .Site.BaseURL }}">Click here to take me home.</a></h2>
        </div>
        <br />
      </div>
    </section>
  </div>
</div>
{{ end }} {{ define "footer" }} {{ partial "footer" . }} {{ end }}
