<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<div id="wrap">
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="navbar-header">
		        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		        <a class="navbar-brand" href="http://www.middlee.com/">
				<img alt="middlee.com" src="{{ site.baseurl }}public/M_logo_transparent.png">
			</a>
		    </div>
		    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="http://www.middlee.com/">Home</a></li>
		            <li><a href="http://www.middlee.com/projects">Projects</a></li>
		            <li><a href="http://www.middlee.com/links">Links</a></li>
		            <li><a href="http://www.middlee.com/archive">Archive</a></li>
		            <li><a href="http://www.middlee.com/about">About</a></li>
		        </ul>
		    </nav>
  </div>
</nav>


      <div class="container">
        {{ content }}
      </div>
</div>

<div id="footer">
<a class="twitter-timeline" href="https://twitter.com/mlee_mke" data-widget-id="568835700255363072">Tweets by @mlee_mke</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="container">
    		<div class="navbar-text pull-left">
    			<p>© 2015 middlee.com</p>
		</div>
		<div class="navbar-text pull-right">
			 <a href="mailto:mdlee12@gmail.com"><i class="fa fa-envelope-o fa-2x"></i>
			 <a href="http://twitter.com/mlee_mke"><i class="fa fa-twitter fa-2x"></i>
			 <a href="http://linkedin.com/in/middlee"><i class="fa fa-linkedin fa-2x"></i>
			 <a href="http://github.com/mdlee12"><i class="fa fa-github fa-2x"></i>
    		</div>
    </div>
   </div>

    {% include analytics.html %}
</meta>
</html>

