<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


  <body id="home">

   {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div id="main" role="main" class="container">
        {{ content }}
      </div>

	<div id="updates" class="container">

		 <form action="https://tinyletter.com/femmebot" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/femmebot', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
			<h4><label for="tlemail">Sign up for updates</label></h4>
			<p>
				<input type="text" name="email" id="tlemail" />
				<input type="hidden" value="1" name="embed"/>
				<input type="submit" value="Subscribe" class="btn-primary" />
			</p>
			<p><a href="https://tinyletter.com" target="_blank" class="tinytype">powered by TinyLetter</a></p>
		 </form>  

	</div>

    </div><!-- /content-wrapper -->

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <script>
      (function(document) {
        var toggle = document.querySelector('.sidebar-toggle');
        var sidebar = document.querySelector('#sidebar');
        var checkbox = document.querySelector('#sidebar-checkbox');

        document.addEventListener('click', function(e) {
          var target = e.target;

          if(!checkbox.checked ||
             sidebar.contains(target) ||
             (target === checkbox || target === toggle)) return;

          checkbox.checked = false;
        }, false);
      })(document);
    </script>
  </body>
</html>

