<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}


<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
	<div class="navbar-header">
		        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		            <span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		        </button>
		    </div>
		    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
		        <ul class="nav navbar-nav">
		            <li class="active"><a href="www.middlee.com">Home</a></li>
		            <li><a href="">Contact</a></li>
		            <li><a href="#">About</a></li>
		        </ul>
		    </nav>
  </div>
</nav>


      <div class="container">
        {{ content }}
      </div>

	
<footer class="footer"></div>

<div class="footer-text pull-center">
	 <a href="mailto:mdlee12@gmail.com"><i class="fa fa-envelope-o fa-2x"></i>
	 <a href="http://twitter.com/mlee_mke"><i class="fa fa-twitter fa-2x"></i>
	<a href="http://github.com/mdlee12"><i class="fa fa-github fa-2x"></i>
</div>
        

    {% include analytics.html %}

  </body>
</html>

