<!DOCTYPE html>
<html>
 
  {% include head.html %}

  <body id="home">

    {% include sidebar.html %}

    <div class="content-wrapper">

    {% include masthead.html %}


    <div class="container">
      <h1 class="site-name"><a href="/">25x52</a></h1>
      <p class="site-description">An initiative to launch 25 projects in 52 weeks</p>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    {% include subscribe.html %}

    </div><!-- /content-wrapper -->

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}
  </body>
</html>
