---
layout: default
---

<link rel="stylesheet" href="/public/css/styles/default.css">


<div class="container"> 
	<div class="row"> 
		<img src="/images/{{ page.image.feature }}" class="img-responsive" alt="{{ interactive.title }}" itemprop="image">
		{% if page-image.credit %}{% include image-credit.html %}{% endif %}
	      </div></div><!-- /.page-image -->
		<div>
	      <div class="page-title">
		<h1><span>{{ page.title }}</span></h1>
		{% if page.subtitle %}<h2><span>{{ page.subtitle }}</span></h2>{% endif %}
	      </div><!-- /.page-title -->
	  {{ content }}
	  </ul>
      </div>
      </div>
      </div>

<hr>
    {% include footer.html %}
<hr>


<h1><strong><p class="text-center">Related Interactives</p></strong></h1>
<div class="container">
 <div class="row">
    {% for interactive in site.related_interactives limit:3 %}
        {% assign sameTagCount = 0 %}
        {% assign commonTags = '' %}

        {% for tag in interactive.tags %}
            {% if page.tags contains tag %}

              {% assign sameTagCount = sameTagCount | plus: 1 %}
              {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
              {% assign commonTags = commonTags | append: tagmarkup %}

            {% endif %}
        {% endfor %}

        {% if sameTagCount >= 2 %}
 	<div class="thumbnail col-md-4">
	<a href="{{ interactive.url }}">
      <img src="/images/{{ interactive.image.teaser }}" class="img-responsive" alt="{{ interactive.title }}" itemprop="image">
	<a href="{{ interactive.url }}">
        <h3>{{ interactive.title }}</h3>
	<a href="{{ interactive.url }}">
        <p>{{ interactive.description }}{{ commonTags }}</p></a></a></a>
          </div>
        {% endif %}

  {% endfor %}
  </div>
</div></div>
