---
layout: default
---
    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">


	<div class="page-image"> 
		<img src="/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
		{% if page-image.credit %}{% include image-credit.html %}{% endif %}
	      </div><!-- /.page-image -->
	      <div class="page-title">
		<h1><span>{{ page.title }}</span></h1>
		{% if page.subtitle %}<h2><span>{{ page.subtitle }}</span></h2>{% endif %}
	      </div><!-- /.page-title -->
	  {{ content }}
	  </ul>
      </div>
      </div>

	<script src="//code.jquery.com/jquery.js"></script>
	<script src="javascripts/jquery.form.min.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>

      <div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mlee_mke">Open modal for @mlee_mke</button>

	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="exampleModalLabel">New message</h4>
	      </div>
	      <div class="modal-body">
		<form>
		  <div class="form-group">
		    <label for="recipient-name" class="control-label">Recipient:</label>
		    <input type="text" class="form-control" id="recipient-name">
		  </div>
		  <div class="form-group">
		    <label for="message-text" class="control-label">Message:</label>
		    <textarea class="form-control" id="message-text"></textarea>
		  </div>
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Send message</button>
	      </div>
	    </div>
	  </div>
	</div>

	<div class="post-related">
	  <h2>Related Posts</h2>
   	 {% for post in site.posts limit:3 %}
	      <li>
		<h3>
		  <a href="{{ post.url }}">
			<img src="/images/{{ post.image.related }}" class="post-related-image" alt="{{ page.title }}" itemprop="image">
		      </a>
		        <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a></h3>
		    <small>{{ post.date | date_to_string }}</small>
		  </a>
		</h3>
	      </li>
	    {% endfor %}
	</div>
	</div>
