---
layout: default
---
<script>
<?php
if(isset($_POST['email'])) {
 
    // EDIT THE 2 LINES BELOW AS REQUIRED
    $email_to = "mdlee12@gmail.com";
    $email_subject = "A comment from middlee.com";
 
    function died($error) {
        // your error code can go here
        echo "We are very sorry, but there were error(s) found with the form you submitted. ";
        echo "These errors appear below.<br /><br />";
        echo $error."<br /><br />";
        echo "Please go back and fix these errors.<br /><br />";
        die();
    }
 
    // validation expected data exists
    if( !isset($_POST['name']) ||
        !isset($_POST['email']) ||        
        !isset($_POST['comments'])) {
        died('We are sorry, but there appears to be a problem with the form you submitted.');      
    }
 
    $name = $_POST['name']; // required
    $email_from = $_POST['email']; // required    
    $comments = $_POST['comments']; // required
 
    $error_message = "";
    $email_exp = '/^[A-Za-z0-9._%-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/';
  if(!preg_match($email_exp,$email_from)) {
    $error_message .= 'The Email Address you entered does not appear to be valid.<br />';
  }
    $string_exp = "/^[A-Za-z\s.'-]+$/";

  if(!preg_match($string_exp,$name)) {
    $error_message .= 'The Last Name you entered does not appear to be valid.<br />';
  }
  if(strlen($comments) < 2) {
    $error_message .= 'The Comments you entered do not appear to be valid.<br />';
  }
  if(strlen($error_message) > 0) {
    died($error_message);
  }
    $email_message = "Form details below.\n\n";
 
    function clean_string($string) {
      $bad = array("content-type","bcc:","to:","cc:","href");
      return str_replace($bad,"",$string);
    }
 
    $email_message .= "Last Name: ".clean_string($name)."\n";
    $email_message .= "Email: ".clean_string($email_from)."\n";  
    $email_message .= "Comments: ".clean_string($comments)."\n";
 
// create email headers
$headers = 'From: '.$email_from."\r\n".
'Reply-To: '.$email_from."\r\n" .
'X-Mailer: PHP/' . phpversion();
@mail($email_to, $email_subject, $email_message, $headers);
sleep(2);
echo "<meta http-equiv='refresh' content=\"0; url=http://www.middlee.com">";
?>
 
<?php
}
?>
</script>

 <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">


	<div class="page-image"> 
		<img src="/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
		{% if page-image.credit %}{% include image-credit.html %}{% endif %}
	      </div><!-- /.page-image -->
	      <div class="page-title">
		<h1><span>{{ page.title }}</span></h1>
		{% if page.subtitle %}<h2><span>{{ page.subtitle }}</span></h2>{% endif %}
	      </div><!-- /.page-title -->
	  {{ content }}
	  </ul>
      </div>
      </div>
<hr>
      <div class="container">
	<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mlee_mke">Tweet me @mlee_mke</button>

		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<h4 class="modal-title" id="exampleModalLabel">New message</h4>
	      </div>
	      <div class="modal-body">
		<form>
		  <div class="form-group">
		    <label for="recipient-name" class="control-label">Recipient:</label>
		    <input type="text" class="form-control" id="recipient-name">
		  </div>
		  <div class="form-group">
		    <label for="message-text" class="control-label">Message:</label>
		    <textarea class="form-control" id="message-text"></textarea>
		  </div>
		</form>
	      </div>
	      <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		<button type="button" class="btn btn-primary">Send message</button>
	      </div>
	    </div>
	  </div>
	</div>

<script>
$('#exampleModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // Button that triggered the modal
  var recipient = button.data('whatever') // Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text('New message to ' + recipient)
  modal.find('.modal-body input').val(recipient)
})
</script>

	<div class="container">
	<!-- Button to trigger modal -->
	    <a href="#myModal" role="button" class="btn btn-custom" data-toggle="modal">Open Contact Form</a>
	    <!-- Modal -->
	    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h4 class="modal-title">Contact Form</h4>
		</div>
		<div class="modal-body">
		<form class="form-horizontal" name="commentform" method="post" action="send_form_email.php"> 
			    <div class="form-group">
				<label class="control-label col-md-4" for="name">Name</label>
				<div class="col-md-6">
				    <input type="text" class="form-control" id="name" name="name" placeholder="Name"/>
				</div>
			    </div>
			    <div class="form-group">
				<label class="control-label col-md-4" for="email">Email Address</label>
				<div class="col-md-6 input-group">
				<span class="input-group-addon">@</span>
				    <input type="email" class="form-control" id="email" name="email" placeholder="Email Address"/>
				</div>
			    </div>
			    <div class="form-group">
				<label class="control-label col-md-4" for="comment">Question or Comment</label>
				<div class="col-md-6">
				    <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Your question or comment here"></textarea>
				</div>
			    </div>
			    <div class="form-group">
				<div class="col-md-6">
				    <button type="submit" value="Submit" class="btn btn-custom pull-right">Send</button>
				</div>
			    </div>
			</form>
		</div><!-- End of Modal body -->
		</div><!-- End of Modal content -->
		</div><!-- End of Modal dialog -->
	    </div><!-- End of Modal -->
	</div>




<div>
<a href="https://twitter.com/share" class="twitter-share-button" data-via="mlee_mke" data-size="large" data-dnt="true">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>


<hr>

	<div class="post-related">
	  <h2>Related Posts</h2>
   	 {% for post in site.posts limit:3 %}
	      <li>
		<h3>
		  <a href="{{ post.url }}">
			<img src="/images/{{ post.image.related }}" class="post-related-image" alt="{{ page.title }}" itemprop="image">
		      </a>
		        <h3 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a></h3>
		    <small>{{ post.date | date_to_string }}</small>
		  </a>
		</h3>
	      </li>
	    {% endfor %}
	</div>
	</div>
