---
layout: default
---
<head>
<!-- Open Graph url property --> <meta property="og:url" content="{{ post.url }}" /> 
<!-- Open Graph title property --> <meta property="og:title" content="{{ page.title }}" /> 
<!-- Open Graph description property --> <meta property="og:description" content="{{ page.description }}" /> 
<!-- Open Graph image property --> <meta property="og:image" link rel="image_src" type="image/jpeg" href="/images/{{ page.image.teaser }}" /> 
<!-- Open Graph type property --> <meta property="og:type" content="website" /> 
<!-- Open Graph site_name property --> <meta property="og:site_name" content="http://middlee.com" />
<head>
	<div class="row"> 
		<img src="/images/{{ page.image.feature }}" class="page-feature-image" alt="{{ page.title }}" itemprop="image">
		{% if page-image.credit %}{% include image-credit.html %}{% endif %}
	      </div><!-- /.page-image -->
	      <div class="page-title">
		<h1><span>{{ page.title }}</span></h1>
		{% if page.subtitle %}<h2><span>{{ page.subtitle }}</span></h2>{% endif %}
	      </div><!-- /.page-title -->
	  {{ content }}
	  </ul>
      </div>
      </div>
<hr>
    {% include footer.html %}
<hr>

<div class="container">
<div class="row">
    {% for post in site.related_posts limit:3 %}
    <article class="post col-md-4 col-sm-1 inner">
    <div class="post-related">
      <a href="{{ post.url }}">
	<img src="/images/{{ post.image.teaser }}" class="post-teaser-image" alt="{{ page.title }}" itemprop="image">
      </a>
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1></a>
<h2><small>{{ post.date | date_to_string }}</small></h2>
    </article>
  {% endfor %}
</div>
</div>
