<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>

    {{ partial "nav.html" . }}

    <header class="header-section ">
      <div class="intro-header no-img">
        <div class="container">
          <div class="row">
            <div class="col-lg-12 col-lg-offset-0">
              <div class="page-heading">
                <h1>{{ .Title }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container" role="main">
      <div class="row">
          <div class="col-lg-12 col-lg-offset-0">

          <div class="posts-list">
            {{ $pag := .Paginate (where .Data.Pages "Type" "posts") }}
            {{ range $pag.Pages }}
              <article class="post-preview">
                <a href="{{ .Permalink }}">
                  <h2 class="post-title">{{ .Title }}</h2>
                </a>

                  {{ if .Params.subtitle }}
                    <h3 class="post-subtitle">
                      {{ .Params.subtitle }}
                    </h3>
                  {{ end }}
      
              {{ if .Params.date }}
                <p class="post-meta">
                  Posted on {{ .Date.Format (default "January 2, 2006" .Site.Params.dateFormat) }}
                </p>
              {{ end }}
                <div class="post-entry">
                {{ if .Truncated }}

                  {{slicestr .Summary 0 200 | markdownify }}

                  <a href="{{ .Permalink }}" class="post-read-more">[Read&nbsp;More]</a>
                {{ else }}

<!--                   {{ .Content }}
 -->

                {{ end }}
                </div>
      
<!--            {{ if .Params.tags }}
                  <span class="post-meta">
                    {{ range .Params.tags }}
                      <span class="post-tags"><a href="/tags/{{ . | urlize }}">#{{ . }}</a></span>&nbsp;
                    {{ end }}
                  </span>
                {{ end }} -->
      
              </article>
            {{ end }}

            {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
              <ul class="pager main-pager">
                {{ if .Paginator.HasPrev }}
                  <li class="previous">
                    <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; Newer Posts }}</a>
                  </li>
                {{ end }}
                {{ if .Paginator.HasNext }}
                  <li class="next">
                    <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}/">Older Posts &rarr;</a>
                  </li>
                {{ end }}
              </ul>
            {{ end }}

            </div>
          </div>
        </div>
      </div>
    {{ partial "footer.html" . }}

  </body>
</html>
